.container {
  width: 100%;
  max-width: var(--max-width);
  height: 90vh;
  margin: 0 auto;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 10vh;
  border-radius: 20px;
  background-color: var(--color-white);
  position: absolute;
  padding: 10vmin 5vmin 25vmin 5vmin;
  color: var(--color-dark);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -6px 18px var(--color-light);
}

.languageWrapper {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.languageWrapper__options {
  margin-left: 10%;
  display: flex;
  align-items: flex-end;
}

.languageWrapper__btn,
.languageWrapper__btnActive,
.installBtn,
.shareBtn {
  height: 40px;
  cursor: pointer;
  padding: var(--spacing-small);
  margin-right: var(--spacing-regular);
  font-weight: var(--font-weight-thin);
  border: 1px solid var(--color-main);
  border-radius: 12px;
  color: var(--color-dark);
}

.languageWrapper__btnActive {
  font-weight: var(--font-weight-bold);
  background-color: var(--color-main);
  border: 1px solid var(--color-main);
}

.appBtnContainer {
  display: flex;
  justify-content: center;
}

.shareBtn,
.installBtn {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-dark-grey);
}

.shareBtn {
  margin-left: 12px;
}

@media (display-mode: standalone), (display-mode: minimal-ui) {
  .installBtn {
    display: none;
  }
}
