.container {
  width: 95vw;
  height: 90vh;
  border-radius: 20px;
  background-color: var(--color-white);
  position: absolute;
  top: 10vh;
  left: 2.5vw;
  border: 1px solid black;
  padding: 10%;
  color: var(--color-dark);
}

.languageWrapper {
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.languageWrapper__options {
  margin-left: 10%;
  display: flex;
  align-items: flex-end;
}

.languageWrapper__btn,
.languageWrapper__btnActive {
  height: 40px;
  cursor: pointer;
  padding: var(--spacing-small);
  margin-right: var(--spacing-regular);
  font-weight: var(--font-weight-thin);
  border: 1px solid black;
  border-radius: 12px;
}

.languageWrapper__btnActive {
  font-weight: var(--font-weight-bold);
  color: #ea698b;
}