@import '../../style/_variables.css';

.tableValueContainer {
  text-align: right;
}

.tableValueContainer__tableValue {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-xsmall);
  border-radius: var(--border-radius-small);
  height: var(--spacing-large);
  margin: var(--spacing-xxsmall) 0;
}

.tableIcon {
  height: 100%;
  width: var(--spacing-regular);
  align-items: center;
}

.tableIcon img {
  margin-right: var(--spacing-small);
}
