@import "../../style/_variables.css";

.cardholder {
    width: 100%;
    min-height: var(--card-height);
    display: flex;
    border: none;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.cardholder::-webkit-scrollbar {
    width: 0;
    display: none;
}

@media screen and (min-width: 768px) { 
    .cardholder {
        min-height: 125px;
        border-radius: var(--border-radius-large);
        padding: var(--spacing-xsmall);
        box-shadow: inset 2px 2px 12px var(--color-secondary);
    }
}
   