@import "../../style/_variables.css";

.cardholder {
    width: 100%;
    min-height: var(--card-height);
    display: flex;
    border: none;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.cardholder::-webkit-scrollbar {
    width: 0;
    display: none;
}

@media screen and (min-width: 768px) { 
    /* Show and style scrollbar for horizontal scrolling on desktops */
    .cardholder {
        min-height: 125px;
        border: 1px solid var(--color-light);
        border-radius: var(--border-radius-large);
        padding: var(--spacing-xxsmall);
    }
}
   