@import "../../style/_variables.css";

.app {
  max-width: var(--max-width);
  padding: var(--spacing-xlarge) var(--spacing-regular) 0 var(--spacing-regular);
  color: var(--color-font-main);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}