@import "../../style/_variables.css";

.cardholder {
    width: 100%;
    min-height: var(--card-height);
    display: flex;
    border: none;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.cardholder::-webkit-scrollbar {
    width: 0;
    display: none;
}

@media screen and (min-width: 768px) { 
    .cardholder {
        min-height: 125px;
        padding: var(--spacing-xsmall);
    }

    .cardholder::-webkit-scrollbar {
        width: 8px; /* Mostly for vertical scrollbars */
        height: 8px; /* Mostly for horizontal scrollbars */
        display: block;
    }

    .cardholder::-webkit-scrollbar-thumb { /* Foreground */
        background: var(--color-light);
        border-radius: var(--border-radius-large);
    }

    .cardholder::-webkit-scrollbar-track { /* Background */
        background: #FAFAF8;
        border-radius: var(--border-radius-large);
    }
}
   