@import "../../style/_variables";

.header_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_container_logo {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-small);
    color: var(--color-font-light);
}

.header_container_logo__title {
    font-size: var(--font-size-xlarge);
    margin-bottom: var(--spacing-xsmall);
    color: var(--color-font-main);
}

.header_preferences_btn {
    border: 1px solid transparent;
}

.header_preferences_btn:focus-visible {
    border: 1px solid var(--color-main);
}