:root {
  /* colors */
    --color-white: #fff;
    --color-light: #fafafa;
    --color-grey: #c3c3c3;
    --color-dark-grey: #2F2C33;
    --color-dark: #0a0a0a;

    --color-main: #e06551;
    --color-secondary: #d8d7ec;
    --color-highlight: #6ddf8d;
    --background-color-main: #fce4ef;
   
    --color-font-light: #7c7c7c;
    --color-font-main: #e06551;
  
    /* spacing */
    --max-width: 768px;

    --spacing-xxsmall: 4px;
    --spacing-xsmall: 6px;
    --spacing-small: 10px;
    --spacing-regular: 12px;
    --spacing-large: 24px;

    /* fonts */
    --font-weigth-thin: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    /* font-sizes */
    --font-size-xsmall: 12px;
    --font-size-small: 13px;
    --font-size-regular: 14px;
    --font-size-large: 24px;

    /* sizes */
    --border-radius-small: 6px;
    --border-radius-large: 20px;

    --button-min-height: 48px;
    --button-min-width: 48px;

    --card-width: 68px;
    --card-height: 88px;
    --element-width: 140px;
    --element-width-small: 80px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-main: #ff7769;
    --color-font-main: #ff7769;
    --background-color-main: #423491;
    --color-secondary: #b8b3f4;
    --color-font-light: #fff;
  }
}
