@import "_variables.css";

.cardholder {
    width: 100%;
    display: flex;
    gap: var(--spacing-regular);
    margin-top: var(--spacing-regular);
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.cardholder::-webkit-scrollbar {
    width: 0;
    display: none;

}


   