@import "../../style/_variables.css";

.customSelector {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--spacing-regular);
}

.customInput {
    width: var(--element-width);
    height: var(--element-height);
    border: 1px solid var(--color-grey);
    border-radius: var(--border-radius-large);
    appearance: none;
    outline: none;
    text-align: center;
    padding: var(--spacing-xsmall);
    margin: var(--spacing-regular) 0;
    font-size: var(--font-size-regular);
}

.customInput::-webkit-inner-spin-button, 
.customInput::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.customInputLabel {
    width: var(--element-width-small);
    margin-right: var(--spacing-small);
    color: var(--color-main);
    font-weight: var(--font-weight-bold);
    text-align: center;
}

.typeDisplay {
    width: var(--element-width-small);
    display: flex;
    justify-self: center;
    align-items: center; 
    margin-left: var(--spacing-xsmall);
    padding: var(--spacing-xsmall);
    color: var(--color-dark-grey);
}