@import "../../style/_variables";

.calculatorContainer {
    width: 100%;
    margin: var(--spacing-xlarge) auto;
    display: flex;
    justify-content: space-around;
    border-radius: 28px;
    padding: var(--spacing-small);
    background-color: var(--color-light);
}

.calculatorContainer__separator {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Pacifico', cursive, arial, sans-serif;
  font-size: 24px;
}