@import "../../style/_variables";

.calculatorContainer {
    width: 300px;
    height: 55px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    border-radius: 28px;
    padding: var(--spacing-small);
    background-color: var(--color-white);
    box-shadow: 3px 3px 0 black;
}
