@import "../../style/_variables";

.calculatorContainer {
    width: 100%;
    margin: var(--spacing-regular) auto;
    display: flex;
    justify-content: space-around;
    border-radius: 28px;
    padding: var(--spacing-small);
    background-color: var(--color-white);
    box-shadow: 3px 4px 0 var(--color-dark);
}

.calculatorContainer__separator {
  display: flex;
  justify-content: center;
  align-items: center;
}