@import "../../style/_variables.css";

.conversionsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: var(--spacing-small);
    margin-top: var(--spacing-small);
}

.titleContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-xsmall);
  color: var(--color-font-main);
}

.titleContainer__ingredient {
  font-family: 'Pacifico', cursive, arial, sans-serif;
  font-size: 24px;
  border-radius: var(--border-radius-small);
  padding: var(--spacing-xsmall);
  color: var(--color-font-main);
}

/* Custom styling for table */
.conversionsTable {
    border-collapse: separate;
    border-spacing: 0 var(--spacing-small);
    font-size: var(--font-size-small);
}

.conversionsTable thead tr td {
    font-weight: var(--font-weight-medium);
    color: var(--color-font-main);
}

.conversionsTable tbody tr td {
    font-weight: var(--font-weight-thin);
    color: var(--color-font-main);
}

/* .conversionsTable tr {
  height: 40px;
} */

.conversionsTable td {
  background-color: var(--color-secondary);
  padding: 0 var(--spacing-xsmall);
}

.conversionsTable td:first-child {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}

.conversionsTable td:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px; 
}

