@import "../../style/_variables.css";

.conversionsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: var(--spacing-small);
    margin-top: var(--spacing-small);
}

.titleContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size-input);
  margin-bottom: var(--spacing-xsmall);
  color: var(--color-font-main);
}

.titleContainer__ingredient {
  border-radius: var(--border-radius-small);
  padding: var(--spacing-xsmall);
  color: var(--color-font-main);
}

/* Custom styling for table */
.conversionsTable {
    border-collapse: collapse;
    border-spacing: var(--spacing-small);
    font-size: var(--font-size-small);
}

.conversionsTable thead tr td {
    font-weight: var(--font-weight-medium);
    color: var(--color-font-main);
}

.conversionsTable tbody tr td {
    font-weight: var(--font-weight-thin);
    margin: var(--spacing-xxsmall) 0;
    border-bottom: 1px solid var(--color-secondary);
    color: var(--color-font-main);
}

.conversionsTable tr {
  height: 40px;
}
